<h1><%= @place["name"] %></h1>

<% if @current_user %>

<h2>My Posts</h2>
<div class="row">
  <div class="col-sm-2 col-md-4>
<% for post in @posts %>
  <h3><%= post["title"] %></h3>
  <h4><%= post["posted_on"] %></h4>
  <p><%= post["description"] %></p>
<% end %>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>
<% end %>